<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include this permission any time your app needs location information. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoAid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Splash"
            android:exported="true">

            <!-- START APP ON SPLASH SCREEN -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SavedReports"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DiagnosticsLoading"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Diagnostic"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- FOR TESTING INDIVIDUAL ACTIVITIES -->
        <activity
            android:name=".HomePage"
            android:exported="true"
            android:theme="@style/Theme.AutoAidActionBar">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>




        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".Glossary"/>
        <activity android:name=".VinActivity"/>
        <activity android:name=".ViewVins" />
        <activity android:name=".UpdateVinActivity" />
        <activity android:name=".ViewCars" />
        <activity android:name=".ViewSymptoms" />
        <activity android:name=".ViewSavedReports"/>
        <activity android:name=".SymptomsActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".VehicleIssues" />
        <activity android:name=".DiagnosticActivity"/>
        <activity android:name=".SearchIssues" />
        <activity android:name=".YouTubeActivity" />
        <activity android:name=".CarHealthActivity" />
        <activity android:name=".GoogleMapsActivity" />
        <activity android:name=".ChrisYoutubeActivity" />
    </application>

</manifest>